$themeColor: #194fc8; // 主题颜色
$fontColor: #282828; // 通用字体颜色
$descColor: #585858; // 灰色的字
$size: 14px; // 字体大小
$bannerSubColor: #282828; // banner内容字体颜色
$priceColor: #c7000b; // 用于价格的那个红色

// 边框
$boxShadowColor: rgba(0, 0, 0, 0.06); // 表单边框的阴影颜色
$borderColor: #e7e7e7; // 大部分边框颜色

// 按钮
$btnHoverColor: #224492; // 按钮hover状态颜色
$btnActiveColor: #366be4; // 按钮active状态颜色

// Background
$htmlBackground: #f1f1f1; // html背景色

// headerSkip组件颜色
$headerSkipColor: #1369d9; // 头部面包屑功能底部边框颜色和渐变色
$headerSkipBorderColor: #b7b7b7; // 头部面包屑功能边框颜色
